<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>luritbusinesssolutions.in</title>
  <link rel="icon" href="{% static 'images\Logo1.png' %}" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="" name="keywords" />
  <meta content="" name="description" />

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Saira:wght@500;600;700&display=swap"
    rel="stylesheet" />

  <!-- Whatsapp -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Icon Font Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />

  <!-- Libraries Stylesheet -->
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet" />
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet" />

  <!-- Customized Bootstrap Stylesheet -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />

  <!-- Template Stylesheet -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
</head>

<body>
  <!-- Spinner Start -->
  {% comment %} <div id="spinner"
    class="show position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" role="status"></div>
  </div> {% endcomment %}
  <!-- Spinner End -->

  <!-- Topbar Start -->
  <!--  <div class="container-fluid bg-dark py-2 d-none d-md-flex">
            <div class="container">
                <div class="d-flex justify-content-between topbar">
                    <div class="top-info">
                        <small class="me-3 text-white-50"><a href="#"><i class="fas fa-map-marker-alt me-2 text-secondary"></i></a>23 Ranking Street, New York</small>
                        <small class="me-3 text-white-50"><a href="#"><i class="fas fa-envelope me-2 text-secondary"></i></a>Email@Example.com</small>
                    </div>
                    <div id="note" class="text-secondary d-none d-xl-flex"><small>Note : We help you to Grow your Business</small></div>
                    <div class="top-link">
                        <a href="" class="bg-light nav-fill btn btn-sm-square rounded-circle"><i class="fab fa-facebook-f text-primary"></i></a>
                        <a href="" class="bg-light nav-fill btn btn-sm-square rounded-circle"><i class="fab fa-twitter text-primary"></i></a>
                        <a href="" class="bg-light nav-fill btn btn-sm-square rounded-circle"><i class="fab fa-instagram text-primary"></i></a>
                        <a href="" class="bg-light nav-fill btn btn-sm-square rounded-circle me-0"><i class="fab fa-linkedin-in text-primary"></i></a>
                    </div>
                </div>
            </div>
        </div>  -->
  <!-- Topbar End -->

  <!-- Navbar Start -->
  <div class="container-fluid bg-primary">
    <div class="container">
      <nav class="navbar navbar-dark navbar-expand-lg py-0">
        <a href="index.html" class="navbar-brand">
          <!-- <h1 class="text-white fw-bold d-block">LUR<span class="text-secondary"> IT</span> </h1> -->
          <img src="{% static 'images/Logo1.png' %}" alt="Logo" style="height: 20%; width: 20%;"
                        class="text-white fw-bold d-block">
                </a>
                <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon">&#x2630;</span>
                </button>
                <div class="collapse navbar-collapse bg-transparent" id="navbarCollapse" style="padding-left: 25%;">
          <div class="navbar-nav ms-auto mx-xl-auto p-0">
            <a href="{% url 'index' %}" class="nav-item nav-link">Home</a>
            <a href="{% url 'about' %}" class="nav-item nav-link active">About</a>

            <div class="nav-item dropdown">
              <a href="{% url 'service' %}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Services</a>
              <div class="dropdown-menu rounded">
                <a href="{% url 'service' %}" class="dropdown-item">Our Services</a>
                <a href="{% url 'projectdesign' %}" class="dropdown-item">Customzed Software Development</a>
                <a href="{% url 'websitedesign' %}" class="dropdown-item">Website Design & Developments</a>
                <a href="{% url 'uiuxdesign' %}" class="dropdown-item">UI/UX DESIGNS & DEVELOPMENTS</a>
                <a href="{% url 'digitalmarketing' %}" class="dropdown-item">Digital Marketing</a>
                <!-- <a href="{% url 'accounts' %}" class="dropdown-item">Accounts, Taxation and MCA Services</a> -->
                <a href="{% url 'mobileapp' %}" class="dropdown-item">Mobile Apps Design & Development</a>
                <!-- <a href="{% url 'h1bvisa' %}" class="dropdown-item">H1B Visa Process</a> -->
              </div>
            </div>
            <a href="{% url 'gallery' %}" class="nav-item nav-link">Gallery</a>
            <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
            <a href="{% url 'Login' %}" class="nav-item nav-link" style="padding-right: 10%;"><i
                class="fa-solid fa-user" style="font-size: 14px;">&nbsp;login</i></a>
          </div>
        </div>
        <!--  <div class="d-none d-xl-flex flex-shirink-0">
                        <div id="phone-tada" class="d-flex align-items-center justify-content-center me-4">
                            <a href="" class="position-relative animated tada infinite">
                                <i class="fa fa-phone-alt text-white fa-2x"></i>
                                <div class="position-absolute" style="top: -7px; left: 20px;">
                                    <span><i class="fa fa-comment-dots text-secondary"></i></span>
                                </div>
                            </a>
                        </div>
                        <div class="d-flex flex-column pe-4 border-end">
                            <span class="text-white-50">Have any questions?</span>
                            <span class="text-secondary">Call: + 0123 456 7890</span>
                        </div>
                        <div class="d-flex align-items-center justify-content-center ms-4 ">
                            <a href="#"><i class="bi bi-search text-white fa-2x"></i> </a>
                        </div>
                    </div>  -->
      </nav>
    </div>
  </div>
  <!-- Navbar End -->

  <!-- Page Header Start -->
  <div class="container-fluid page-header py-5">
    <div class="container text-center py-5">
      <h1 class="display-2 text-white mb-4 animated slideInDown">About Us</h1>
      <nav aria-label="breadcrumb animated slideInDown">
        <ol class="breadcrumb justify-content-center mb-0">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
          </li>
          <!-- <li class="breadcrumb-item"><a href="#">Pages</a></li> -->
          <li class="breadcrumb-item" aria-current="page">About</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- Page Header End -->

<!--  -->

<div class="navbar2">
  <div style="padding-left: 25%;">
      <a href="{% url 'accounts' %}" class="a1">Accounts, Taxation and MCA Services</a>  
      <a href="{% url 'h1bvisa' %}" class="a1">H1B Visa Process</a>
  </div>
</div>

<!--  -->

  <!-- Fact Start -->
  <!-- <div class="container-fluid bg-secondary py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 wow fadeIn" data-wow-delay=".1s">
          <div class="d-flex counter">
            <h1 class="me-3 text-primary counter-value">24</h1>
            <h5 class="text-white mt-1">IT Experts</h5>
          </div>
        </div>
        <div class="col-lg-3 wow fadeIn" data-wow-delay=".3s">
          <div class="d-flex counter">
            <h1 class="me-3 text-primary counter-value">07</h1>
            <h5 class="text-white mt-1">Years Of Experience</h5>
          </div>
        </div>
        <div class="col-lg-3 wow fadeIn" data-wow-delay=".5s">
          <div class="d-flex counter">
            <h1 class="me-3 text-primary counter-value">250</h1>
            <h5 class="text-white mt-1">Satisfied Clients</h5>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Fact End -->

  <!-- About Start -->
  <div class="container-fluid py-5 my-5">
    <div class="container py-5">
      <div class="row g-5">
        <div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s">
          <div class="h-100 position-relative">
            <img src="{% static 'Images/project-1.jpg' %}" class="img-fluid w-75 rounded" alt=""
              style="margin-bottom: 25%;" />
            <div class="position-absolute w-75" style="top: 25%; left: 25%;">
              <img src="{% static 'Images/img1.png' %}" class="img-fluid w-100 rounded" alt="" />
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".5s">
          <h5 class="text-primary">About Us</h5>
          <h1 class="mb-4">7 Years Of Expertise</h1>
          <p>LUR IT BUSINESS SOLUTIONS(OPC) PVT LTD., is a fast-growing IT Company that provides holistic IT solutions
            to businesses across geographies We offer IT expertise in software, website, and application developments,
            UI/UX design, and digital marketing.</p>
          <p class="mb-4">Following the latest web development trends and applying the best practices of Internet
            marketing, we implement the most challenging ideas to deliver you quality results. Verified by the detailed
            market analysis and supported by the professionalism and reliability of our specialists, you get top-notch
            solutions to promote your business.</p>
          <p class="mb-4">With over 7 years of expertise to fall back upon, we have emerged as a leading Designs, IT
            Software developments and Digital Marketing Company in Hyderabad.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- About End -->

  <!--  <div style="padding-bottom: 30%;">
        <div style="text-align: center;">
            <div style="float: left; padding-left: 10%; background-color: rgb(209, 243, 179);">
                <h3> Project Design <br>& Developments </h3>
            </div>
            <div style="float: left; padding-left: 10%; background-color: rgb(252, 255, 168);">
                <h3> Website Design <br>& Developments </h3>
            </div>
            <div style="float: left; padding-left: 10%; background-color: rgb(180, 156, 124);">
                <h3> UI/UX DESIGNS <br>& DEVELOPMENTS </h3>
            </div>
        </div>

        <div style="padding-top: 10%;">
            <div style="float: left; padding-left: 10%; background-color: rgb(226, 255, 151);">
                <h3> Digital Marketing </h3>
            </div>
            <div style="float: left; padding-left: 10%; background-color: rgb(61, 225, 86);">
                <h3> Mobile Apps Design <br>& Developments </h3>
            </div>
            <div style="float: left; padding-left: 10%; background-color: rgb(215, 249, 250);">
                <h3> Accounting, Taxation <br>& MCA Services </h3>
            </div>
        </div>
    </div>  -->

  <div>
    <img src="{% static 'Images/img.jpg' %}" alt="" class="About" />
  </div>

  <!--  <div>
        <div style="padding-left: 10%;">
            <h2 style="text-align: center;">Why choose us</h2>
            <p>We start each web development project by obtaining a substantial understanding of who you are, what you
                do,
                and why you do it. That aids us to build strategic web design resolutions that convey the precise
                messages
                and display your sole brand status. Once the architecture is agreed upon, we develop a design that
                organizes
                the site goals, branding, and trend that we have revealed during our initial exploration process.
            </p>
            <p>Our creative organization consists of industry veterans who hold genuine artistic ability, yet appreciate
                the
                complex hurdles and intricacies of web design and graphic Design. First impressions leave a long-lasting
                impression. Even if you’re in the market for website development, logo design, or collateral creation,
                Innobrights will promote your company to frame a memorable, perpetual impression.
            </p>
        </div> 

        <div>
            <h3>Responsive Website Designs</h3>
            <h3>Profecient with Modern Softwares</h3>
            <h3>Experienced UI/UX Designers</h3>
            <h3>250+ Happy Customers</h3>
            <h3>Compliance to Standards & Procedures</h3>
        </div>
    </div>  -->

  <!-- Team Start -->
  <div class="container-fluid pb-5 mb-5 team">
    <div class="container pb-5">
      <div class="text-center mx-auto pb-5 wow fadeIn" data-wow-delay=".3s" style="max-width: 600px;">
        <h5 class="text-primary">Our Team</h5>
        <h1>Meet our expert Team</h1>
      </div>
      <div class="owl-carousel team-carousel wow fadeIn" data-wow-delay=".5s">
        <div class="rounded team-item">
          <div class="team-content">
            <div class="team-img-icon">
              <div class="team-img rounded-circle">
                <img src="{% static 'images/md.jpeg' %}" class="img-fluid w-100 rounded-circle" alt="">
              </div>
              <br>
              <div class="team-name text-center py-3">
                <h4 class="">Usharani Behara</h4>
                <p class="m-0">MD/CEO</p>
              </div>
              <br>
              <div class="team-icon d-flex justify-content-center pb-4">
                <a class="btn btn-square btn-secondary text-white rounded-circle m-1" href=""><i
                    class="fab fa-facebook-f"></i></a>
                <a class="btn btn-square btn-secondary text-white rounded-circle m-1" href=""><i
                    class="fab fa-twitter"></i></a>
                <a class="btn btn-square btn-secondary text-white rounded-circle m-1" href=""><i
                    class="fab fa-instagram"></i></a>
                <a class="btn btn-square btn-secondary text-white rounded-circle m-1" href=""><i
                    class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="rounded team-item">
          <div class="team-content">
            <div class="team-img-icon">
              <div class="team-img rounded-circle">
                <img src="{% static 'images/director.jpeg' %}" class="img-fluid w-70 rounded-circle" alt="">
              </div>
              <div class="team-name text-center py-3">
                <h4 class="">G.V.Narayana</h4>
                <p class="m-0">Chartered Accountant</p>
                <p class="m-0">(Compliance Advisor)</p>
              </div>
              <div class="team-icon d-flex justify-content-center pb-4">
                <a class="btn btn-square btn-secondary text-white rounded-circle m-1" href=""><i
                    class="fab fa-facebook-f"></i></a>
                <a class="btn btn-square btn-secondary text-white rounded-circle m-1" href=""><i
                    class="fab fa-twitter"></i></a>
                <a class="btn btn-square btn-secondary text-white rounded-circle m-1" href=""><i
                    class="fab fa-instagram"></i></a>
                <a class="btn btn-square btn-secondary text-white rounded-circle m-1" href=""><i
                    class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="rounded team-item">
          <div class="team-content">
            <div class="team-img-icon">
              <div class="team-img rounded-circle">
                <img src="{% static 'images/teamlead1.jpeg' %}" class="img-fluid w-80 rounded-circle" alt="">
              </div>
              <br>
              <div class="team-name text-center py-3">
                <h4 class="">Shaik Reshma</h4>
                <p class="m-0">Project Head</p>
              </div>
              <br>
              <div class="team-icon d-flex justify-content-center pb-4">
                <a class="btn btn-square btn-secondary text-white rounded-circle m-1" href=""><i
                    class="fab fa-facebook-f"></i></a>
                <a class="btn btn-square btn-secondary text-white rounded-circle m-1" href=""><i
                    class="fab fa-twitter"></i></a>
                <a class="btn btn-square btn-secondary text-white rounded-circle m-1" href=""><i
                    class="fab fa-instagram"></i></a>
                <a class="btn btn-square btn-secondary text-white rounded-circle m-1" href=""><i
                    class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="rounded team-item">
          <div class="team-content">
            <div class="team-img-icon">
              <div class="team-img rounded-circle">
                <img src="{% static 'images/admin1.png' %}" class="img-fluid w-100 rounded-circle" alt="">
              </div>
              <br>
              <div class="team-name text-center py-3">
                <h4 class="">D. Mabasha</h4>
                <p class="m-0">HR Executive/Admin</p>
              </div>
              <br>
              <div class="team-icon d-flex justify-content-center pb-4">
                <a class="btn btn-square btn-secondary text-white rounded-circle m-1" href=""><i
                    class="fab fa-facebook-f"></i></a>
                <a class="btn btn-square btn-secondary text-white rounded-circle m-1" href=""><i
                    class="fab fa-twitter"></i></a>
                <a class="btn btn-square btn-secondary text-white rounded-circle m-1" href=""><i
                    class="fab fa-instagram"></i></a>
                <a class="btn btn-square btn-secondary text-white rounded-circle m-1" href=""><i
                    class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Team End -->


  <!-- Blog Start -->
  <div class="container-fluid testimonial py-5 mb-5">
    <div class="container">
      <div class="text-center mx-auto pb-5 wow fadeIn" data-wow-delay=".3s" style="max-width: 600px;">
        <h5 class="text-primary">Our Testimonial</h5>
        <h1>Our Client Saying!</h1>
      </div>
      <div class="owl-carousel testimonial-carousel wow fadeIn" data-wow-delay=".5s">
        <div class="testimonial-item border p-4">
          <div class="d-flex align-items-center">
            <div class="">
              <img src="{% static 'images/client-1.jpg' %}" alt="">
            </div>
            <div class="ms-4">
              <h4 class="text-secondary">Client Name</h4>
              <p class="m-0 pb-3">Profession</p>
              <div class="d-flex pe-5">
                <i class="fas fa-star me-1 text-primary"></i>
                <i class="fas fa-star me-1 text-primary"></i>
                <i class="fas fa-star me-1 text-primary"></i>
                <i class="fas fa-star me-1 text-primary"></i>
                <i class="fas fa-star me-1 text-primary"></i>
              </div>
            </div>
          </div>
          <div class="border-top mt-4 pt-3">
            <p class="mb-0">Lorem ipsum dolor sit amet elit. Sed efficitur quis purus ut interdum aliquam
              dolor eget urna. Nam volutpat libero sit amet leo cursus, ac viverra eros morbi quis quam
              mi.</p>
          </div>
        </div>
        <div class="testimonial-item border p-4">
          <div class=" d-flex align-items-center">
            <div class="">
              <img src="{% static 'images/client-2.jpg' %}" alt="">
            </div>
            <div class="ms-4">
              <h4 class="text-secondary">Client Name</h4>
              <p class="m-0 pb-3">Profession</p>
              <div class="d-flex pe-5">
                <i class="fas fa-star me-1 text-primary"></i>
                <i class="fas fa-star me-1 text-primary"></i>
                <i class="fas fa-star me-1 text-primary"></i>
                <i class="fas fa-star me-1 text-primary"></i>
                <i class="fas fa-star me-1 text-primary"></i>
              </div>
            </div>
          </div>
          <div class="border-top mt-4 pt-3">
            <p class="mb-0">Lorem ipsum dolor sit amet elit. Sed efficitur quis purus ut interdum aliquam
              dolor eget urna. Nam volutpat libero sit amet leo cursus, ac viverra eros morbi quis quam
              mi.</p>
          </div>
        </div>
        <div class="testimonial-item border p-4">
          <div class=" d-flex align-items-center">
            <div class="">
              <img src="{% static 'images/client-3.jpg' %}" alt="">
            </div>
            <div class="ms-4">
              <h4 class="text-secondary">Client Name</h4>
              <p class="m-0 pb-3">Profession</p>
              <div class="d-flex pe-5">
                <i class="fas fa-star me-1 text-primary"></i>
                <i class="fas fa-star me-1 text-primary"></i>
                <i class="fas fa-star me-1 text-primary"></i>
                <i class="fas fa-star me-1 text-primary"></i>
                <i class="fas fa-star me-1 text-primary"></i>
              </div>
            </div>
          </div>
          <div class="border-top mt-4 pt-3">
            <p class="mb-0">Lorem ipsum dolor sit amet elit. Sed efficitur quis purus ut interdum aliquam
              dolor eget urna. Nam volutpat libero sit amet leo cursus, ac viverra eros morbi quis quam
              mi.</p>
          </div>
        </div>
        <div class="testimonial-item border p-4">
          <div class=" d-flex align-items-center">
            <div class="">
              <img src="{% static 'images/client-4.jpg' %}" alt="">
            </div>
            <div class="ms-4">
              <h4 class="text-secondary">Client Name</h4>
              <p class="m-0 pb-3">Profession</p>
              <div class="d-flex pe-5">
                <i class="fas fa-star me-1 text-primary"></i>
                <i class="fas fa-star me-1 text-primary"></i>
                <i class="fas fa-star me-1 text-primary"></i>
                <i class="fas fa-star me-1 text-primary"></i>
                <i class="fas fa-star me-1 text-primary"></i>
              </div>
            </div>
          </div>
          <div class="border-top mt-4 pt-3">
            <p class="mb-0">Lorem ipsum dolor sit amet elit. Sed efficitur quis purus ut interdum aliquam
              dolor eget urna. Nam volutpat libero sit amet leo cursus, ac viverra eros morbi quis quam
              mi.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Blog End -->



  <!-- Footer Start -->
  <div class="container-fluid footer bg-dark wow fadeIn" data-wow-delay=".3s">
    <div class="container pt-5 pb-4">
      <div class="row g-5">
        <div class="col-lg-3 col-md-6">
          <a href="{% url 'index' %}">
            <h1 class="text-white fw-bold d-block">LUR<span class="text-secondary">IT</span></h1>
          </a>
          <p class="mt-4 text-light">We offer IT expertise in software, website, and application developments, UI/UX
            design, and digital marketing..</p>
          <div class="d-flex hightech-link">
            <a href="https://facebook.com" class="btn-light nav-fill btn btn-square rounded-circle me-2"><i
                class="fab fa-facebook-f text-primary"></i></a>
            <a href="https://twitter.com" class="btn-light nav-fill btn btn-square rounded-circle me-2"><i
                class="fab fa-twitter text-primary"></i></a>
            <a href="https://instagram.com" class="btn-light nav-fill btn btn-square rounded-circle me-2"><i
                class="fab fa-instagram text-primary"></i></a>
            <a href="https://linkedin.com" class="btn-light nav-fill btn btn-square rounded-circle me-0"><i
                class="fab fa-linkedin-in text-primary"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <a href="#" class="h3 text-secondary">Short Link</a>
          <div class="mt-4 d-flex flex-column short-link">
            <a href="{% url 'index' %}" class="mb-2 text-white"><i
                class="fas fa-angle-right text-secondary me-2"></i>Home</a>
            <a href="{% url 'about' %}" class="mb-2 text-white"><i
                class="fas fa-angle-right text-secondary me-2"></i>About us</a>

            <a href="{% url 'contact' %}" class="mb-2 text-white"><i
                class="fas fa-angle-right text-secondary me-2"></i>Contact us</a>
            <a href="{% url 'service' %}" class="mb-2 text-white"><i
                class="fas fa-angle-right text-secondary me-2"></i>Our Services</a>
            <a href="{% url 'gallery' %}" class="mb-2 text-white"><i
                class="fas fa-angle-right text-secondary me-2"></i>Our Gallery</a>
            <!--  <a href="" class="mb-2 text-white"><i class="fas fa-angle-right text-secondary me-2"></i>Latest
                            Blog</a>  -->
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <a href="#" class="h3 text-secondary">Help Link</a>
          <div class="mt-4 d-flex flex-column help-link">
            <a href="" class="mb-2 text-white"><i class="fas fa-angle-right text-secondary me-2"></i>Terms Of use</a>
            <a href="" class="mb-2 text-white"><i class="fas fa-angle-right text-secondary me-2"></i>Privacy Policy</a>
            <a href="" class="mb-2 text-white"><i class="fas fa-angle-right text-secondary me-2"></i>Helps</a>
            <a href="" class="mb-2 text-white"><i class="fas fa-angle-right text-secondary me-2"></i>FQAs</a>
            <a href="" class="mb-2 text-white"><i class="fas fa-angle-right text-secondary me-2"></i>Contact</a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <a href="#" class="h3 text-secondary">Contact Us</a>
          <div class="text-white mt-4 d-flex flex-column contact-link">
            <a href="https://maps.app.goo.gl/qAyZ9rniKftWVfwV7" class="pb-3 text-light border-bottom border-primary"><i
                class="fas fa-map-marker-alt text-secondary me-2"></i>Address: Unit- 1015, 9th Floor, Vasavi MPM Grand,
              Beside Ameerpet Metro Station, Hyderabad – 500073.</a>
            <a href="tel:+91 8712186017" style="color: white;"><i class="fas fa-phone-alt text-secondary me-2"></i>+91
              8712186017</a>
            <a href="tel:+91 8106216882" class="py-3 text-light border-bottom border-primary"><i
                class="fas fa-phone-alt text-secondary me-2"></i>+91 8106216882</a>

            <!--  <a href="tel:+91 8712186017" style="color: white;"><i
                                class="fas fa-phone-alt text-secondary me-2"></i>+91 8712186017</a>  -->
            <a href="mailto:info@luritsolutions.com" style="color: white;"><i
                class="fas fa-envelope text-secondary me-2"></i>info@luritsolutions.com</a>
            <a href="mailto:support@luritsolutions.com" class="py-3 text-light border-bottom border-primary"><i
                class="fas fa-envelope text-secondary me-2"></i>support@luritsolutions.com</a>
            <a href="mailto:info@luritsolutions.com" style="color: white;"><i
                class="fas fa-envelope text-secondary me-2"></i>career@luritsolutions.com</a> <br />
            <!--  <a href="mailto:career@luritsolutions.com" style="color: white;"><i
                                class="fas fa-envelope text-secondary me-2"></i>career@luritsolutions.com </a>  -->
          </div>
        </div>
      </div>
      <hr class="text-light mt-5 mb-4" />
      <div class="row">
        <!--  <div class="col-md-6 text-center text-md-start">
                    <span class="text-light"><a href="#" class="text-secondary"><i
                                class="fas fa-copyright text-secondary me-2"></i></a> 2023 LURitsolutions. Designed
                        By
                        SkDigi - All rights reserved.</span>
                </div>  -->
        <!--  <div class="col-md-6 text-center text-md-end">
                    /*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/
                    <span class="text-light">Designed By<a href="https://htmlcodex.com" class="text-secondary">HTML
                            Codex</a> Distributed By <a href="https://themewagon.com">ThemeWagon</a></span>
                </div>  -->
      </div>
    </div>
  </div>
  <!-- Footer End -->

  <!-- Back to Top -->
  <!--  <a href="#" class="btn btn-secondary btn-square rounded-circle back-to-top"><i
            class="fa fa-arrow-up text-white"></i></a>  -->

  <a href="https:/wa.me/918712186017" class="whatsapp_float"><i class="fa-brands fa-whatsapp whatsapp-icon"></i></a>

  <!-- JavaScript Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{% static 'lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

  <!-- Template Javascript -->
  <script src="{% static 'js/main.js' %}"></script>
</body>

</html>