<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>luritbusinesssolutions.in</title>
  <link rel="icon" href="{% static 'images\Logo1.png' %}" />
  <link rel="stylesheet" href="{% static 'css/Diwali.css' %} " />
</head>

<body>

  <div class="content">
    <h1>Diwali Photos</h1>
  </div>

  <div class="images">
    <div class="img1">
      <img src="{% static 'images/diwali-1.jpeg' %}" alt="" />
      <h3>
        Lorem ipsum, dolor sit amet con<br />
        adipisicing elit.Reprehenderit <br />
        at quam consequuntur quidem.
      </h3>
    </div>
    <div class="img2">
      <img src="{% static 'images/diwali-2.jpeg' %}" alt="" />
      <h3>
        Lorem ipsum, dolor sit amet con<br />
        adipisicing elit.Reprehenderit <br />
        at quam consequuntur quidem.
      </h3>
    </div>
    <div class="img3">
      <img src="{% static 'images/diwali-3.jpeg' %}" alt="" />
      <h3>
        Lorem ipsum, dolor sit amet con<br />
        adipisicing elit.Reprehenderit <br />
        at quam consequuntur quidem.
      </h3>
    </div>
  </div>
  <div class="images1">
    <div class="img4">
      <img src="{% static 'images/diwali-4.jpeg' %}" alt="" />
      <h3>
        Lorem ipsum, dolor sit amet con<br />
        adipisicing elit.Reprehenderit <br />
        at quam consequuntur quidem.
      </h3>
    </div>
    <div class="img5">
      <img src="{% static 'images/diwali-5.jpeg' %}" alt="" />
      <h3>
        Lorem ipsum, dolor sit amet con<br />
        adipisicing elit.Reprehenderit <br />
        at quam consequuntur quidem.
      </h3>
    </div>
    <div class="img6">
      <img src="{% static 'images/diwali-6.jpeg' %}" alt="" />
      <h3>
        Lorem ipsum, dolor sit amet con<br />
        adipisicing elit.Reprehenderit <br />
        at quam consequuntur quidem.
      </h3>
    </div>
  </div>
  <div class="images2">
    <div class="img1">
      <img src="{% static 'images/diwali-7.jpeg' %}" alt="" />
      <h3>
        Lorem ipsum, dolor sit amet con<br />
        adipisicing elit.Reprehenderit <br />
        at quam consequuntur quidem.
      </h3>
    </div>
    <div class="img2">
      <img src="{% static 'images/diwali-8.jpeg' %}" alt="" />
      <h3>
        Lorem ipsum, dolor sit amet con<br />
        adipisicing elit.Reprehenderit <br />
        at quam consequuntur quidem.
      </h3>
    </div>
    <div class="img3">
      <img src="{% static 'images/diwali-9.jpeg' %}" alt="" />
      <h3>
        Lorem ipsum, dolor sit amet con<br />
        adipisicing elit.Reprehenderit <br />
        at quam consequuntur quidem.
      </h3>
    </div>
  </div>
  <div class="images3">
    <div class="img4">
      <img src="{% static 'images/diwali-2.jpeg' %}" alt="" />
      <h3>
        Lorem ipsum, dolor sit amet con<br />
        adipisicing elit.Reprehenderit <br />
        at quam consequuntur quidem.
      </h3>
    </div>
    <div class="img5">
      <img src="{% static 'images/diwali-5.jpeg' %}" alt="" />
      <h3>
        Lorem ipsum, dolor sit amet con<br />
        adipisicing elit.Reprehenderit <br />
        at quam consequuntur quidem.
      </h3>
    </div>
    <div class="img6">
      <img src="{% static 'images/diwali-4.jpeg' %}" alt="" />
      <h3>
        Lorem ipsum, dolor sit amet con<br />
        adipisicing elit.Reprehenderit <br />
        at quam consequuntur quidem.
      </h3>
    </div>
  </div>

</body>

</html>