<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>luritbusinesssolutions.in</title>
    <link rel="icon" href="{% static 'images\Logo1.png' %}" />
    <link rel="stylesheet" href="{% static 'css/Republic.css' %}" />
  </head>

  <body>
    <div class="content">
      <h1>Republicday Photos</h1>
    </div>
   
      <div class="images">
        <div class="img1">
          <img src="{% static 'images/NK_03897.JPG' %}" alt="" />
          <h3>
            Lorem ipsum, dolor sit amet con<br />
            adipisicing elit.Reprehenderit <br />
          </h3>
        </div>
        <div class="img2">
          <img src="{% static 'images/NK_03865.JPG' %}" alt="" />
          <h3>
            Lorem ipsum, dolor sit amet con<br />
            adipisicing elit.Reprehenderit <br />
          </h3>
        </div>
        <div class="img3">
          <img src="{% static 'images/NK_03867.JPG' %}" alt="" />
          <h3>
            Lorem ipsum, dolor sit amet con<br />
            adipisicing elit.Reprehenderit <br />
          </h3>
        </div>
      </div>
      <div class="images1">
        <div class="img4">
          <img src="{% static 'images/NK_03860.JPG' %}" alt="" />
          <h3>
            Lorem ipsum, dolor sit amet con<br />
            adipisicing elit.Reprehenderit <br />
          </h3>
        </div>
        <div class="img5">
          <img src="{% static 'images/NK_03860.JPG' %}" alt="" />
          <h3>
            Lorem ipsum, dolor sit amet con<br />
            adipisicing elit.Reprehenderit <br />
          </h3>
        </div>
        <div class="img6">
          <img src="{% static 'images/NK_03861.JPG' %}" alt="" />
          <h3>
            Lorem ipsum, dolor sit amet con<br />
            adipisicing elit.Reprehenderit <br />
            at quam consequuntur quidem.
          </h3>
        </div>
      </div>
      <div class="images2">
        <div class="img1">
          <img src="{% static 'images/NK_03860.JPG' %}" alt="" />
          <h3>
            Lorem ipsum, dolor sit amet con<br />
            adipisicing elit.Reprehenderit <br />
            at quam consequuntur quidem.
          </h3>
        </div>
        <div class="img2">
          <img src="{% static 'images/NK_03868.JPG' %}" alt="" />
          <h3>
            Lorem ipsum, dolor sit amet con<br />
            adipisicing elit.Reprehenderit <br />
            at quam consequuntur quidem.
          </h3>
        </div>
        <div class="img3">
          <img src="{% static 'images/NK_03866.JPG' %}" alt="" />
          <h3>
            Lorem ipsum, dolor sit amet con<br />
            adipisicing elit.Reprehenderit <br />
            at quam consequuntur quidem.
          </h3>
        </div>
      </div>
      <div class="images3">
        <div class="img4">
          <img src="{% static 'images/NK_03862.JPG' %}" alt="" />
          <h3>
            Lorem ipsum, dolor sit amet con<br />
            adipisicing elit.Reprehenderit <br />
            at quam consequuntur quidem.
          </h3>
        </div>
        <div class="img5">
          <img src="{% static 'images/NK_03865.JPG' %}" alt="" />
          <h3>
            Lorem ipsum, dolor sit amet con<br />
            adipisicing elit.Reprehenderit <br />
            at quam consequuntur quidem.
          </h3>
        </div>
        <div class="img6">
          <img src="{% static 'images/NK_03897.JPG' %}" alt="" />
          <h3>
            Lorem ipsum, dolor sit amet con<br />
            adipisicing elit.Reprehenderit <br />
            at quam consequuntur quidem.
          </h3>
        </div>
      </div>
    

    
  </body>
</html>
